footer a {
  color: white;
}

main{
  padding-top: 200px;
  padding-bottom: 200px;
}

/* Utilitis */
.border-mda {
  border-radius: 0%;
  border-style: none none solid none;
}
/* Style the form */
#regForm {
  background-color: #ffffff;
}

/* #regform img{
  width: 150px;
  height: 150px;
} */

#prevBtn {
  float: right;
  overflow: auto;
}

#nextBtn {
  overflow: auto;
}
/* Style the input fields */
/* input {
  padding: 10px;
  width: 100%; */
/*   border-radius: 0%;
  border-style: none none solid none; */
/* } */

label>img{
  height: 240px;
  width: 236px;
  padding-top: 2px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

label.mda {
  height: 270px;
  width: 246px;
  border: 2px solid #3f6896;
  position: relative;
  margin: auto;
  border-radius: 10px;
  color: #555353;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}



/* Radio buttos yes and no */

input[type="radio"] {
  -webkit-appearance: none;
}

label {
  height: 40px;
  width: 60px;
  border: 2px solid #3f6896;
  position: relative;
  margin: auto;
  border-radius: 10px;
  color: #555353;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}

input[type="radio"]:checked + label {
  background-color: #3f6896;
  color: white;
  box-shadow: 0 5px 15px #555353;
}

/* /Radio buttos yes and no */

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3f6896;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #6aafff;
}
