<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}
</head>
<body style="margin: 0; padding: 0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="20"></table>
        <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="600"
        >
            {% include "garantias/mails/nav.html" %}

            {% block container %}
            {% endblock %}

            {% include "garantias/mails/footer.html" %}
        </table>
    </table>
</body>
</html>