{% extends "garantias/mails/base.html" %} {% block head_content %}
<title>Document</title>
{% endblock %} {% block container%}
<tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td
          style="
            color: #6aafff;
            font-family: 'Arial', sans-serif;
            font-size: 24px;
          "
        >
          <b>SISTEMAS ATU</b>
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 20px 0 30px 0;
            color: #153643;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            line-height: 20px;
          "
        >
          <b>Nota:</b>La garantía de la batería tiene relación con la fecha de
          facturación del hardware. Es posible que se le solicite proporcionar
          el número de serie de la batería, el que corresponde a este rango de
          fechas.
        </td>
      </tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Cantidad
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ baterias_7490 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ baterias_7480 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ baterias_E7470 }}
                    </td>
                  </tr>
                </table>
              </td>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Serial
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      AUT-PGFX4
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      AUT-KG7VF
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      AUT-MC34Y
                    </td>
                  </tr>
                </table>
              </td>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Equipo
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Latitude 7490
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Latitude 7480
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Latitude E7470
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 20px 0 30px 0;
            color: #153643;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            line-height: 20px;
          "
        >
          <b>Nota:</b> "Cambio de B" significa cambio de bateria, se cambio el
          estado ya que ocupa mucho espacio en la plantilla de mail.
        </td>
      </tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Inventario
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ inve1 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ inve2 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ inve3 }}
                    </td>
                  </tr>
                </table>
              </td>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Modelo
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ mode1 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ mode2 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ mode3 }}
                    </td>
                  </tr>
                </table>
              </td>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      ¿Se Recibio?
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ dano1 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ dano2 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ dano3 }}
                    </td>
                  </tr>
                </table>
              </td>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      Vencimiento
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ venc1 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ venc2 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ venc3 }}
                    </td>
                  </tr>
                </table>
              </td>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      ¿Se Hizo?
                      <hr />
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                      {{ camb1 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                     {{ camb2 }}
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        padding: 12px 0 12px 0;
                        color: #153643;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                      "
                    >
                     {{ camb3 }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}
