<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>Mesa de ayuda</title>
</head>
    <body>
      <!-- Header -->
      <header>
        <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">  
            <a class="navbar-brand" href="#">
                <img src="/assets/img/Logo_Mesadeayuda.png" alt="Logo Mesadeayuda">
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Calendario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cambio de contraseña</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-mda" href="#">Nuevo Ingreso</a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
      </header>
      <!-- /Header -->
      <!-- Main -->
      <main id="main">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/img/Background_1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/Background_3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/Background_2.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <div class="overlay">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6 offset-md-6 text-center text-md-right">
                  <h1>Mesa de ayuda</h1>
                  <p class="d-none d-md-block">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut, voluptate soluta 
                    facere amet molestiae, eaque voluptatum laborum eius odio voluptates similique nam ad.
                    Ducimus nihil nisi quae modi vitae? Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Voluptas, tempore consectetur error harum nobis,
                    deleniti numquam quam incidunt exercitationem ut dignissimos maxime quo ducimus provident.
                    Iste nam quos ex nostrum.
                  </p>
                  <a href="#" class="btn btn-outline-light" >Quiero aportar</a>
                  <button type="button" class="btn btn-mda">Consultas</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- /Main -->
      <!-- Speakers -->
      <section id="speakers" class="mt-4 mb-4">
        <div class="container">
          <div class="row">
            <div class="col text-center text-uppercase">
              <small>Conoce a la mesa</small>
              <h2>Integrantes</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/assets/icons/user_icon.svg" alt="Card image cap">
                <div class="card-body">
                  <div class="badges">
                    <span class="badge badge-warning">Electric</span>
                    <span class="badge badge-info">Aqua</span>
                  </div>
                  <h5 class="card-title">Michelle Del Valle</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/assets/icons/user_icon.svg" alt="Card image cap">
                <div class="card-body">
                  <div class="badges">
                    <span class="badge badge-warning">Electric</span>
                    <span class="badge badge-info">Aqua</span>
                  </div>
                  <h5 class="card-title">Romulo Beck</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/assets/icons/user_icon.svg" alt="Card image cap">
                <div class="card-body">
                  <div class="badges">
                    <span class="badge badge-warning">Electric</span>
                    <span class="badge badge-info">Aqua</span>
                  </div>
                  <h5 class="card-title">Matias Arroyo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/assets/icons/user_icon.svg" alt="Card image cap">
                <div class="card-body">
                  <div class="badges">
                    <span class="badge badge-warning">Electric</span>
                    <span class="badge badge-info">Aqua</span>
                  </div>
                  <h5 class="card-title">Nicolas Villagrasita</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/assets/icons/user_icon.svg" alt="Card image cap">
                <div class="card-body">
                  <div class="badges">
                    <span class="badge badge-warning">Electric</span>
                    <span class="badge badge-info">Aqua</span>
                  </div>
                  <h5 class="card-title">Jose Gomez</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Speakers -->

      <!-- Lugar y fecha -->
      <section id="place-time">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-lg-6 pl-0 pr-0">
              <img src="/assets/img/google-chrome.jpg" alt="Mesa de ayuda">
            </div>
            <div class="col-12 col-lg-6 pt-4 pb-4 align-self-center">
              <h2>Mesa de ayuda - Ubicación</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam et optio saepe molestiae,
                impedit ipsa reiciendis nostrum aliquid mollitia id iusto voluptate
                obcaecati quidem harum dolores voluptatem eum modi facere.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptate dolorem dolore, doloremque, cumque atque, 
                neque aspernatur nobis animi deleniti fugit! Quia vel, reprehenderit error nihil suscipit aliquid soluta cum.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /Lugar y fecha -->

      <!-- Formulario -->
      <section id="formulario" class="pt-3 pb-3">
        <div class="container">
          <div class="row">
            <div class="col text-uppercase text-center">
              <small>Preguntanos en que podemos</small>
              <h2>Ayudarte</h2>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              En mesa de ayuda estamamos para ayudarte haznos una pregunta con respecto a un problema que te esta pasando en tu <abbr data-toggle="tooltip" title="PC, Notebook, Celular o MAC">Equipo</abbr> o una consulta en general
            </div>
          </div>
          <div class="row">
            <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
              <form>
                <div class="form-row">
                  <div class="form-group col-12 col-md-6">
                    <input type="text" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="form-group col-12 col-md-6">
                    <input type="text" class="form-control" placeholder="Apellido">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                      <textarea name="text" class="form-control form-control-lg" placeholder="Sobre que quieres hablar?"></textarea>
                        <small class="form-text text-muted">
                          Recuerda incluir un titulo para tu charla
                        </small>
                    </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <button type="button" class="btn btn-mda btn-block">Enviar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- /Formulario -->

      <!-- Footer -->
      <footer id="footer" class="pb-4 pt-4">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 col-lg">
                        <a href="#">Preguntass frecuentes</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Contactanos</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Prensa</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Conferencia</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Términos y condiciones</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Privacidad</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="">Estudiantes</a>
                    </div>
                </div>
            </div>
      </footer>
      <!-- /Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/index.js"></script>
    </body>
</html>