
{% load static %}

<footer id="footer" class="pb-4 pt-4 bg-dark">

    <div class="container">

        <div class="row text-center">

            <div class="col-12 col-lg">
                <a href="#">Preguntass frecuentes</a>
            </div>

            <div class="col-12 col-lg">
                <a href="#">Contactanos</a>
            </div>

            <div class="col-12 col-lg">
                <a href="#">Prensa</a>
            </div>

            <div class="col-12 col-lg">
                <a href="#">Conferencia</a>
            </div>

            <div class="col-12 col-lg">
                <a href="#">Términos y condiciones</a>
            </div>

            <div class="col-12 col-lg">
                <a href="#">Privacidad</a>
            </div>

            <div class="col-12 col-lg">
                <a href="">Estudiantes</a>
            </div>

        </div>

    </div>
    
</footer>